$gris-claro: #645E64;
$amarillo: #FEE123;
$gris-oscuro: #383337;
$black: #0F0B0D;
$azul-claro: #3F74AC;
$azul-oscuro: #201652;
$white: #DEDCE5;

/*VARIABLES DE ESPACIO*/
$pd-5: 5%;
$mt-20: 20px;
$mt-porcent: 20%;

/*VARIABLES DE TEXTO*/
/*TAMAÑOS*/
$big: 45px;
$medium: 25px;
$large: 35px;


